<a [routerLink] = "['/dashboard']"> Go to Polls</a>

<router-outlet></router-outlet>

<!--<div *ngIf="current_question">-->
<!--<h3> {{ current_question.question }} </h3>-->
<p> Click the vote button to choose one </p>

<table>
	<tr>
		<th>Option</th>
		<th>Current Count of Votes</th>
		<th>Action</th>
	</tr>
  <!--<tr *ngFor = "let p of current_question">-->
  <td> {{current_question|json}} </td>
  <!--<td> {{p.options[1]}} </td>
  <td> {{p.options[2]}} </td>
  <td> {{p.options[3]}} </td>

  <!--<td *ngIf= "q == current_user._id">
    <button (click)="Delete(q)">Delete</button>
    </td>-->
<!--</tr>-->
</table>






